name: homeserver

services:

# -- Immich --

  immich-server:
    container_name: immich-server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      - ${IMMICH_DATA_LOCATION}:/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env.immich
    depends_on:
      - immich-redis
      - immich-postgres
    restart: unless-stopped
    healthcheck:
      disable: false

  immich-ml:
    container_name: immich-ml
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - ${IMMICH_MLSERVER_DATA_LOCATION}:/cache
    env_file:
      - .env.immich
    restart: unless-stopped
    healthcheck:
      disable: false

  immich-redis:
    container_name: immich-redis
    image: docker.io/valkey/valkey:8-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped
    env_file:
      - .env.immich

  immich-postgres:
    container_name: immich-postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:8d292bdb796aa58bbbaa47fe971c8516f6f57d6a47e7172e62754feb6ed4e7b0
    volumes:
      - ${IMMICH_DATABASE_DATA_LOCATION}:/var/lib/postgresql/data
    env_file:
      - .env.immich
    shm_size: 128mb
    restart: unless-stopped


# -- Nextcloud --

  nextcloud-mariadb:
    container_name: nextcloud-mariadb
    image: mariadb:10.6
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      - ${NEXTCLOUD_DATABASE_DATA_LOCATION}:/var/lib/mysql
    env_file:
      - .env.nextcloud

  nextcloud-server:
    container_name: nextcloud-server
    image: nextcloud
    restart: unless-stopped
    volumes:
      - ${NEXTCLOUD_DATA_LOCATION}:/var/www/html
    env_file:
      - .env.nextcloud


# -- Vaultwarden --

  vaultwarden-server:
    container_name: vaultwarden-server
    image: vaultwarden/server:latest
    restart: unless-stopped
    volumes:
      - ${VAULTWARDEN_DATA_LOCATION}:/data
    env_file:
      - .env.vaultwarden


# -- Jellyfin --

  jellyfin-server:
    image: ghcr.io/jellyfin/jellyfin
    container_name: jellyfin-server
    volumes:
      - ${JELLYFIN_CONFIG_LOCATION}:/config
      - ${JELLYFIN_CACHE_LOCATION}:/cache
      - ${JELLYFIN_MEDIA_LOCATION}:/media
    restart: unless-stopped
    env_file:
      - .env.jellyfin


# -- Nginx reverse proxy for everything --

  nginx-proxy:
    image: nginx:latest
    container_name: nginx-proxy
    depends_on:
      - nextcloud-server
      - immich-server
      - vaultwarden-server
      - jellyfin-server
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
